html {
    background-color: #ffffff;
    font-family: sans-serif;
    height: 100%;
	overflow-x: hidden;
}

header{
    background-color: #ede8f5;
}
  
body {
    margin: 0 auto;
    width: 100%;
    max-width: 90%;
    padding: 1rem;
    line-height: 1.5;
}

.summaryTable{
    border: px solid #ffffff;
}

#about_me{
    padding-left: 20px;
}

.meImg img{
    float: initial;
    border-radius: 50%;
}

a {
	color:rgb(230, 64, 106);
}
  
* {
    box-sizing: border-box;
}
  
h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

table {
    padding-right: 50px;
}
/* nav styles */
.hamburger {
    padding-right: 20px;
    cursor: pointer;
}
  
.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
}

.nav-links {
    width: 100%;
    background-color: #f8f9ff;
}
  
.nav-links a {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}
  
.nav-links a:hover, a:focus {
    background-color: #ffeee9;
}
  
.expanded {
    display: unset;
}
  
@media screen and (min-width: 636px) {
    .nav-links {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    } 
    
    .hamburger {
        display: none;
    } 
}